*{
  padding: 0;
  margin: 0;
}
html, body{
  color:#262626;
  font-size: 14px;
  font-family: "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
@font-face {
  font-family: "SourceHanSansCN";
  src: url("./font/SourceHanSansCN-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
.font-weiruanyahei {
  font-family: 微软雅黑;
}
ul{
  list-style: none;
}
ul li{
  text-decoration : none;
}
.headerNav{
  position: relative;
  right: 12px;
}
.headerNav ul{
  float: right;
  height: 75px;
  line-height: 75px;
  font-size: 0;
}
.headerNav ul li{
  height: 100%;
}
.headerNav ul li a {
  padding: 0 34px;
  border-right: 2px solid #262626;
  font-size: 16px;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: #262626;
}
.logotext{
  display: inline-block;
  height: 75px;
  line-height: 75px;
  font-weight: 600;
  font-size: 18px;
}
.tile_text{
  text-align: center;
  font-size: 28px;
  padding-top: 45px;
  line-height: 1;
  font-weight: bolder;
}
.tile_text_2{
  font-size: 14px;
  color: #7e7e7e;
  text-align: center;
  padding-bottom: 30px;
}
.tile_text_3{
  font-size: 10px;
  text-align: center;
  padding-bottom: 45px;
  color: #858585;
  margin-top: 10px;
}
#vapp img{
  width: 100%;height: auto;
}
#vapp .current{
  color: #dd0730;
}
#app .inpadding{
  padding: 0 19.5%;
}
#app .inpaddingmain{
  padding: 0 15%;
}
/*头部内容*/
#app .el-header{
  height: auto !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
/*身体内容*/
#app .el-main{
  padding: 0;
  overflow: hidden;
  margin-top: 75px;
}
.tile_text span{
  font-weight: 400;
}
.text span{
  font-weight: 400;
}
/* 底部内容*/
#app .el-footer{
  padding: 0;
  font-size: 0;
}
.beianzhuti{
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #131313;
  padding-bottom: 20px;
  position: relative;
  bottom: 30px;
}
