/*!*其他 0*!
@import "../../../public/font/fonts/apercu-bold-pro.css";
@import "../../../public/font/fonts/apercu-light-pro.css";
@import "../../../public/font/fonts/方正正中黑简体.css";
@import "../../../public/font/fonts/方正正纤黑简体.css";
@import "../../../public/font/fonts/FZKTK-GBK1-0.css";
@import "../../../public/font/fonts/Radomir Tinkov - Gilroy-Bold.css";
@import "../../../public/font/fonts/Radomir Tinkov - Gilroy-Light.css";
!*AlibabaSans 1*!
@import "../../../public/font/AlibabaSans/Alibaba-PuHuiTi-Bold.css";
@import "../../../public/font/AlibabaSans/Alibaba-PuHuiTi-Heavy_0.css";
@import "../../../public/font/AlibabaSans/Alibaba-PuHuiTi-Light.css";
@import "../../../public/font/AlibabaSans/Alibaba-PuHuiTi-Medium.css";
@import "../../../public/font/AlibabaSans/Alibaba-PuHuiTi-Regular.css";


!*nike 1*!
@import "../../../public/font/nike/FuturaNDforNike365Cn-XBdObl.css";
@import "../../../public/font/nike/Futura ND for Nike 365 Cn XBd.css";
@import "../../../public/font/nike/MHei PRC Xbold.css";
@import "../../../public/font/nike/MHeiHKS-Bold.css";
@import "../../../public/font/nike/MHeiHKS-Light.css";
@import "../../../public/font/nike/MHeiHKS-Medium.css";
@import "../../../public/font/nike/MHeiHKS-Xbold.css";
@import "../../../public/font/nike/MHeiPRC-Xbold.css";
@import "../../../public/font/nike/Microsoft YaHei UI Light.css";
@import "../../../public/font/nike/MicrosoftYaHei.css";
@import "../../../public/font/nike/msyh.css";
@import "../../../public/font/nike/MyriadPro Regular.css";
@import "../../../public/font/nike/NIKESubtitle.css";

!*健康元 2*!
@import "../../../public/font/健康元字体包/PINGFANG BOLD_0.css";
@import "../../../public/font/健康元字体包/PINGFANG EXTRALIGHT.css";
@import "../../../public/font/健康元字体包/PINGFANG LIGHT_0.css";
@import "../../../public/font/健康元字体包/PINGFANG MEDIUM_0.css";
@import "../../../public/font/健康元字体包/PINGFANG REGULAR_0.css";

!*匡威 3*!
@import "../../../public/font/匡威/CourierStd-Bold.css";
@import "../../../public/font/匡威/CourierStd-BoldOblique.css";
@import "../../../public/font/匡威/CourierStd-Oblique.css";
@import "../../../public/font/匡威/CourierStd.css";
@import "../../../public/font/匡威/方正兰亭特黑长_GBK.css";

!*博朗生活 4*!
@import "../../../public/font/博朗生活/DINPro-Black_0.css";
@import "../../../public/font/博朗生活/DINPro-Bold_1.css";
@import "../../../public/font/博朗生活/DINPro-Light_1.css";
@import "../../../public/font/博朗生活/DINPro-Medium_1.css";
@import "../../../public/font/博朗生活/DINPro-Regular_1.css";

!*思源黑体 5*!
@import "../../../public/font/思源/SourceHanSansCN-Bold.css";
@import "../../../public/font/思源/SourceHanSansCN-ExtraLight.css";
@import "../../../public/font/思源/SourceHanSansCN-Heavy.css";
@import "../../../public/font/思源/SourceHanSansCN-Light.css";
@import "../../../public/font/思源/SourceHanSansCN-Medium.css";
@import "../../../public/font/思源/SourceHanSansCN-Normal.css";
@import "../../../public/font/思源/SourceHanSansCN-Regular.css";
@import "../../../public/font/思源/SourceHanSansSC-Bold.css";
@import "../../../public/font/思源/SourceHanSansSC-ExtraLight.css";
@import "../../../public/font/思源/SourceHanSansSC-Heavy.css";
@import "../../../public/font/思源/SourceHanSansSC-Light.css";
@import "../../../public/font/思源/SourceHanSansSC-Medium.css";
@import "../../../public/font/思源/SOURCEHANSERIFCN-EXTRALIGHT_0.css";
@import "../../../public/font/思源/SOURCEHANSERIFCN-HEAVY.css";
@import "../../../public/font/思源/SOURCEHANSERIFCN-LIGHT_0.css";
@import "../../../public/font/思源/SOURCEHANSERIFCN-MEDIUM_0.css";
@import "../../../public/font/思源/SOURCEHANSERIFCN-SEMIBOLD.css";

!*科莱丽 5*!
@import "../../../public/font/科莱丽字体包/BEBASNEUE BOLD.css";
@import "../../../public/font/科莱丽字体包/BEBASNEUE BOOK.css";
@import "../../../public/font/科莱丽字体包/BEBASNEUE LIGHT.css";
@import "../../../public/font/科莱丽字体包/BEBASNEUE REGULAR.css";
@import "../../../public/font/科莱丽字体包/BEBASNEUE THIN.css";
@import "../../../public/font/科莱丽字体包/BebasNeue.css";
@import "../../../public/font/科莱丽字体包/Century Gothic Bold Italic.css";
@import "../../../public/font/科莱丽字体包/Century Gothic Bold.css";
@import "../../../public/font/科莱丽字体包/Century Gothic Italic.css";
@import "../../../public/font/科莱丽字体包/Century Gothic.css";

!*苹方 6*!
@import "../../../public/font/苹方/苹方 常规.css";
@import "../../../public/font/苹方/PINGFANG BOLD_0.css";
@import "../../../public/font/苹方/PINGFANG EXTRALIGHT_0.css";
@import "../../../public/font/苹方/PINGFANG LIGHT_1.css";
@import "../../../public/font/苹方/PINGFANG MEDIUM_0.css";
@import "../../../public/font/苹方/PINGFANG HEAVY_0.css";

!*Jordan*!
@import "../../../public/font/Jordan/Jordan Druk-Bold.css";
@import "../../../public/font/Jordan/Jordan NHG Disp 15 XXThin.css";
@import "../../../public/font/Jordan/Jordan NHG Disp 25 XThin.css";
@import "../../../public/font/Jordan/Jordan NHG Disp 35 Thin.css";
@import "../../../public/font/Jordan/Jordan NHG Disp 45 Light.css";
@import "../../../public/font/Jordan/Jordan NHG Disp 55 Roman.css";
@import "../../../public/font/Jordan/Jordan NHG Disp 65 Medium.css";
@import "../../../public/font/Jordan/Jordan NHG Disp 75 Bold.css";
@import "../../../public/font/Jordan/Jordan NHG Disp 95 Black.css";
@import "../../../public/font/Jordan/Jordan NHG Text 55 Roman.css";
@import "../../../public/font/Jordan/Jordan NHG Text 65 Medium.css";

!*方正*!
@import "../../../public/font/方正/方正正黑简体.css";
@import "../../../public/font/方正/方正正黑简体 DemiBold.css";
@import "../../../public/font/方正/方正正黑简体 Bold.css";
@import "../../../public/font/方正/方正正黑简体 ExtraBold.css";
@import "../../../public/font/方正/方正正黑简体 ExtraLight.css";
@import "../../../public/font/方正/方正正黑简体 Medium.css";*/
.lineHeight13 {
    line-height: 1.3;
}
.lineHeight12 {
    line-height: 1.2;
}
.lineHeight11 {
    line-height: 1.1;
}
.lineHeight10 {
    line-height: 1;
}
.lineHeight085 {
    line-height: 0.9;
}
.lineHeight8 {
    line-height: 0.8;
}
.lineHeight07 {
    line-height: 0.7;
}
.text-slh {
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.clearboth {
    clear: both;
}
.heightCenter {
    display: flex;
    align-items: center;
}
.errorColor {
    color: red;
}
.borderColor {
    border:1px solid #409EFF;
}
